body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drag {
  margin-right: 15px;
  cursor: move;
}

.App ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App ul li {
  padding: 10px 20px;
  position: relative;
  display: flex;
  align-items: flex-start;
  line-height: 1;
  border-style: groove;
}

.burgermenu {
  transform: rotate(-90deg);
  margin: 1rem;
}

.content {
  margin: 1rem;
}